<section class="hero is-fullheight has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-third-desktop is-half-tablet">
                    <figure class="image is-256x256 mx-auto">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column">
                    <h2 class="title is-2 mb-5">About Me</h2>
                    <div class="content">
                        <p class="mb-4">
                            As an experienced product leader and computer engineer, I drive innovation in the mobile and
                            telecommunications space. My senior leadership experience enables me to spearhead successful product
                            strategies, champion user-centric design, and guide high-performance teams through complex project
                            executions.
                        </p>
                        <p class="mb-5">
                            Throughout my career, I've cultivated strong business relationships, led negotiations for mission-critical
                            partnerships, and overseen multi-million dollar lines of business. My passion lies in pioneering cutting-edge,
                            technology-driven solutions that put the customer first, consistently delivering products that exceed market
                            expectations and drive business growth.
                        </p>
                    </div>
                    <div class="tags are-medium mb-5">
                        <span class="tag is-info is-light is-clickable">Product Leadership</span>
                        <span class="tag is-info is-light is-clickable">Innovation Strategy</span>
                        <span class="tag is-info is-light is-clickable">Tech Entrepreneurship</span>
                        <span class="tag is-info is-light is-clickable">Business Development</span>
                    </div>
                    <div class="buttons">
                        <a href="#contact" class="button is-primary is-outlined is-rounded">CONTACT ME</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>