<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h2 class="title is-2 mb-4">About Me</h2>
                    <p class="mb-4">As an experienced product leader and computer engineer, I drive innovation in the mobile and telecommunications space. My senior leadership experience enables me to spearhead successful product strategies, champion user-centric design, and guide high-performance teams through complex project executions.</p>
                    <p class="mb-4">Throughout my career, I've cultivated strong business relationships, led negotiations for mission-critical partnerships, and overseen multi-million dollar lines of business. My passion lies in pioneering cutting-edge, technology-driven solutions that put the customer first, consistently delivering products that exceed market expectations and drive business growth.</p>
                    <div class="tags are-medium mb-4">
                        <span class="tag is-info">Product Leadership</span>
                        <span class="tag is-info">Innovation Strategy</span>
                        <span class="tag is-info">Tech Entrepreneurship</span>
                        <span class="tag is-info">Business Development</span>
                    </div>
                    <div class="buttons">
                        <a href="{{site.url}}{{site.baseurl}}/#contact"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>